autopep8==1.4
backports.functools-lru-cache==1.5
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
Click==7.0
cmake==3.12.0
cycler==0.10.0
decorator==4.3.0
enum34==1.1.6
Flask==1.0.2
functools32==3.2.3.post2
gunicorn==19.9.0
heroku==0.1.4
idna==2.7
imutils==0.5.1
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonpickle==1.0
jsonschema==2.6.0
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mpmath==1.0.0
nbformat==4.4.0
numpy==1.15.2
pandas==0.23.4
pycodestyle==2.4.0
pyparsing==2.2.2
python-dateutil==1.5
pytz==2018.5
requests==2.19.1
scipy==1.1.0
six==1.11.0
sympy==1.3
traitlets==4.3.2
travis==0.0.3
urllib3==1.23
Werkzeug==0.14.1
